.popup__container {
  box-sizing: border-box;
  width: 430px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 34px 35px 37px 36px;
}

@media (max-width:650px) {
  .popup__container {
    width: 282px;
    padding: 26px 22px 25px 22px;
  }
}
