.profile__button-pen {
  margin: 0;
  padding: 5px;
  background-color: #000000;
  min-width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url(../../../image/pen.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-pen:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (max-width:1000px) {
  .profile__button-pen {
    min-width: 18px;
    height: 18px;
    background-size: 7px 7px;
    margin-right: 39px;
  }
}
